.login-button {
  display: flex;
  flex-direction: row;
  outline: inherit;
  border: none;
  /* background-color: transparent; */
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 32px;
  width: 92px;
  padding: 10px;
  transition: 0.5s;
}

.login-button:hover {
  cursor: pointer;
  background-color: rgba(204, 204, 204, 0.7);
}

.icon-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.login-img {
  height: 40px;
  width: auto;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 5px;
}
.menu-links{
  display: flex;
  position: relative;
  flex-direction: column;
}

.menu-links > button{
  outline: inherit;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  height: 30px;
  margin: 5px;
  color: white;

}
.profile-dropdown > button{
  outline: inherit;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  height: 30px;
  margin: 5px;
  color: white;
}

.logout-button{
  outline: inherit;
  border: none;
  background-color: transparent;
  height: 20px;
  width: auto;
}

.profile-dropdown > a {
  display: flex;
  outline: inherit;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  height: 30px;
  margin: 5px;
  color: white;
  text-decoration: none;
  font: 400 13.3333px Arial;
  text-align: center;
}

.profile-dropdown a span {
  margin: auto;
}

.profile-btn-wrapper {
  display: flex;
  flex-direction: column;
}
