.maps-biz-container{
  display: flex;
  flex-direction: row;
  font-family: Airbnb;
  z-index: -5;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 100px;
  overflow-y: hidden;
}

.left {
  left: 0;
  justify-content: flex-start;
  overflow-y: scroll;

}

.right {
  right: 0;
  justify-content: flex-end;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.biz-container {
  display:flex;
  flex-direction: column;
  width: 100%;
}
.service-card{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: aliceblue;
}
.service-card > img{
  max-height: 202px;
  width: 50%;
  margin-right: 50px;
  padding: 10px;
  border-radius: 50px;
}
.biz-info{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
}

.service-card:hover {
  cursor: pointer;
  background-color:#e7fff1;
}
.info-card{
  display:flex;
  flex-direction:column;
  align-items: center;
}
.info-card > img{
  padding: 5px;
}
.info-card:hover {
  cursor: pointer;
}
