.home-button {
  text-decoration: none;
  color: white;
  /* font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif; */
  font-family: Airbnb-bold;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0)
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: #2b9696;
  height: 100px;
}

.airgng-logo {
  height: 25px;
  width: auto;
  margin-right: 5px;
}
