.service_main_image {
  width: 100%;
  border-radius: 32px;
}

.service_main_container {
  width: 60vw;
  margin: 0 20vw;
}

.service_main_reviewlist {
    list-style: none;
}

.service_main {
  font-family: Airbnb
}

/* body {
  background-image: none;
} */
.star-delete-wrap{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.service_main_review_form{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
.delete-review,
.leave-review-btn{
  font-family: Airbnb;
  border-radius: 32px;
  border: none;
  background-color: rgba(255, 255, 255, 0.0);
  transition: 1000ms;
  will-change: font-family;
}
.delete-review:hover{
  font-family: Airbnb-bold;
  cursor: pointer;
}
.leave-review-btn:hover{
  font-family: Airbnb-bold;
  cursor: pointer;
}
#leave-review{
  display:none;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
