.hidden{
  display: none;
}

body {
  background-color: white;
}

.review_link {
  text-decoration: none;
  color: black;
  line-height: 1.5;
}

.review_container {
  background-color: white;
  border-bottom: 1px solid lightgray;
  width: 400px;
  margin: 4px;
  padding: 8px;
}

#profile-wrapper {
  font-family: Airbnb;
  margin-left: 5vw;
}

#user-reviews {
  border-right: 1px solid black;
  width: 45%;
}

.review_title {
  font-weight: bold;
}

.review_comment {
  line-height: 1;
  padding-top: 5px;
}

.booking_each {
  border-top: 1px solid lightgray;
  margin: 25px 0px;
  padding-top: 10px;
}

.user_container_bottom {
  display: flex;
  padding-bottom: 20px;
}

.bookings_wrapper {
  margin-left: 10px;
}

#line {
  margin-right: 15%;
}

#editprofilebutton {
  font-family: Airbnb;
  border-radius: 32px;
  border: none;
  background-color: rgba(255, 255, 255, 0.0);
  transition: 1000ms;
  will-change: font-family;
  text-decoration: underline;
}

#editprofilebutton:hover {
  font-family: Airbnb-bold;
  cursor: pointer;
}
