.hidden{
  display: none;
}


.review_link {
  text-decoration: none;
}

.review_wrapper {

}

.review_container {
  background-color: white;
  border-bottom: 1px solid lightgray;
  width: 400px;
  margin: 4px;
  border-radius: 5px;
}
